---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Lisa Marie Memmler - About";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Lisa Marie Memmler</h1>

    <p>
      Lisa ist Visual Artist und Grafikdesignerin aus Nürnberg. Derzeit arbeitet
      sie vor allem mit generativer KI und 3D-Software an immersiven und
      interaktiven Installationen und Animationen. 2026 schloss sie ihr
      Designstudium an der TH Nürnberg mit einem Bachelor of Arts ab, betreut
      von Moritz Schwind und Claudia Rohrmoser.
    </p>
  </div>
</BaseLayout>
