---
import TextSlider from "../components/TextSlider.astro";
import Separator from "../components/Separator.astro";

// Get the current pathname
const currentPath = Astro.url.pathname;
// Define a map of routes
const routes = {
  "/": "Works",
  "/about/": "About",
  "/contact/": "Contact",
};
// Determine the active route
const activeRoute = routes[currentPath] || null;
---

<header>
  <h1>
    <a href="/" class={activeRoute === "Works" ? "current" : ""}
      ><TextSlider content="Works" /></a>
  </h1>
  <ul>
    <li>
      <a
        href="/about/"
        class={activeRoute === "About" ? "current" : ""}
        data-astro-prefetch><TextSlider content="About" /></a>
    </li>
    <li>
      <a
        href="/contact/"
        class={activeRoute === "Contact" ? "current" : ""}
        data-astro-prefetch><TextSlider content="Contact" /></a>
    </li>
  </ul>
</header>
<!-- <Separator /> -->

<style>
  header {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-weight: 400;
    padding: 1rem 0;
    gap: 1rem;
  }
  header a.current {
    pointer-events: none;
  }
  h1 {
    font-size: 1rem;
    font-weight: inherit;
    margin: 0;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  @media screen and (min-width: 50em) {
    header {
      grid-template-columns: 20vw 1fr;
    }
  }
</style>
